<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Just Play</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    Home
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/hasan-yaman/JustPlay">
                    <img src="static/GitHub-Mark-32px.png" alt="GitHub Logo" id="github-logo">
                    GitHub
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Just Play!</h1>
        <p class="lead">This is a simple Recurrent Neural Network(RNN) trained on folk tunes of Western European
            origin.</p>
        <hr class="my-4">
        <p>You can create new tunes by clicking the button.</p>
    </div>
</div>

<div class="container mt-5">
    <p class="lead text-primary" id="settings">
        <u>Configure advanced settings</u>
    </p>
    <form>
        <div class="form-group">
            <label for="meter">Meter</label>
            <select id="meter" class="form-control">
                <option selected></option>
                <option>2/2</option>
                <option>3/2</option>
                <option>2/4</option>
                <option>3/4</option>
                <option>4/4</option>
                <option>5/4</option>
                <option>6/4</option>
                <option>6/8</option>
                <option>9/8</option>
            </select>
        </div>
        <div class="form-group">
            <label for="key">Key</label>
            <select id="key" class="form-control">
                <option selected></option>
                <option>A</option>
                <option>Am</option>
                <option>Bb</option>
                <option>Bm</option>
                <option>C</option>
                <option>D</option>
                <option>Dm</option>
                <option>E</option>
                <option>Em</option>
                <option>F</option>
                <option>G</option>
                <option>Gm</option>
            </select>
        </div>
        <div class="form-group">
            <label for="tempo">Tempo</label>
            <select id="tempo" class="form-control">
                <option selected></option>
                <option>1/4=135</option>
                <option>1/4=180</option>
            </select>
        </div>
        <div class="form-group">
            <label for="rhythm">Rhythm</label>
            <select id="rhythm" class="form-control">
                <option selected></option>
                <option>Hornpipe</option>
            </select>
        </div>
        <div class="form-group">
            <label for="note_length">Unit Note Length</label>
            <select id="note_length" class="form-control">
                <option selected></option>
                <option>1/4</option>
                <option>1/8</option>

            </select>
        </div>
    </form>
    <button type="button" class="btn btn-primary" id="just-play">
        Just Play
    </button>
</div>

<div class="container mt-5 text-center">
    <div class="spinner-border invisible" role="status" id="loaderDiv">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="invisible" id="audioDiv">
        <audio controls class="w-75" id="audio"></audio>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        let audio = $("#audio");
        let audioDiv = $("#audioDiv");
        let loaderDiv = $('#loaderDiv');
        let button = $('#just-play');

        let meter = $('select#meter');
        let key = $("select#key");
        let tempo = $("select#tempo");
        let rhythm = $("select#rhythm");
        let noteLength = $("select#note_length");
        let parameters = {};

        let form = $("form");
        let settings = $("#settings");

        settings.click(function () {
            form.toggle("is-hidden");
        });

        button.click(function () {
            // Disable button
            button.prop("disabled", true);
            // Show loader
            loaderDiv.removeClass("invisible");
            audioDiv.addClass("invisible");
            // Get request parameters
            if (meter.val() !== "") {
                parameters["meter"] = meter.val();
            }
            if (key.val() !== "") {
                parameters["key"] = key.val();
            }
            if (tempo.val() !== "") {
                parameters["tempo"] = tempo.val();
            }
            if (rhythm.val() !== "") {
                parameters["rhythm"] = rhythm.val();
            }
            if (noteLength.val() !== "") {
                parameters["note_length"] = noteLength.val();
            }
            console.log(parameters);
            $.ajax({
                url: "/api/predict",
                method: "GET",
                data: parameters,
                success: function (result, status, xhr) {
                    /*
                    results: data returned from the server
                    status: a string describing the status
                    xhr: jgXHR object
                    */
                    console.log("Result: " + result);
                    //audioDiv.removeClass("invisible");
                    audio.attr("src", result);
                    //audio.load();
                    //audio.play();
                },
                error: function (xhr, status, error) {
                    alert("An error occurred!");
                },
                complete: function (xhr, status) {
                    // Executed after success and error callbacks are executed.

                    // Enable button
                    button.prop("disabled", false);
                    // Hide loader
                    loaderDiv.addClass("invisible");
                    audioDiv.removeClass("invisible");
                    // Prepare for new requests.
                    parameters = {}
                }
            });
        });

    })
</script>
</body>
</html>